@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

$fontPrimary: 'Montserrat';
$fontSecondary: 'Montserrat';

$colorPrimary: #3980c2;
$footerColor: #413daa;

body {
  font-family: -apple-system, $fontPrimary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white !important;
}
h1, h2, h3, h4 {
  color: $colorPrimary;
}



.navbar-light{
  padding: .5rem 2rem;
}

.nav-link {
  padding-top: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-left: 2.5rem !important;
}

.bg-light {
  background-color: rgba(255, 255, 255, 0) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: $colorPrimary;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $fontPrimary !important;
  font-weight: 700;

  :hover{
    color: #026eb9;
  }

}

.primary-bundle {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 65vh;
}
.primary-bundle--content {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
  vertical-align: middle;

  img{
    padding-left: 4rem;
    padding-right: 4rem;
    align-items: center;
  }

  h1 {
    text-transform: uppercase !important;
  }

  h1, h5 {
    color: $colorPrimary;
    display: inline-block;
  }
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.section-one{
  background-image: url(../img/infinite-bg1.png);
  background-size: 100% 92vh;
  background-repeat: no-repeat;
  padding-top: 12%;
  width: 100%;
  height: 92vh;

  animation: fadeInAnimation ease 5s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 

  .section-one--container{
    vertical-align: middle;
    opacity: 1; 
    animation: 3s fadein ease-in; 
  }

  img {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  
  h4, p {
    text-align: left;
    color: white;

  }

  button{
    align-items: center;
    width: 100%;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 14px;


    :hover{
      color: $colorPrimary
    }
  }
}

.section-next--editions{
  background: white;

  h1{
    margin-bottom: 40px;
    color: #33c64b;
  }

  .caroussel-style{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .react-3d-carousel .slider-container {
    position: absolute;
    margin: auto !important;
    top: 0;
    width: 48%;
    margin: -0px auto 0px -0;
  }
  .react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content {
    position: relative;
    left: 0;
    top: 0;
    width: 95% !important;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    transform: scale(0);
    opacity: 0;
  }

  .react-3d-carousel .slider-container .slider-content {
    position: relative;
    left: 0;
    top: 0;
    width: 71%;
    height: 80%;
    transform: translateX(-50%);
  }
  .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 90px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
  }
}
.section-two {
  margin-top: 40px;

  .yellow-divisor{
    border-top: 3px solid #ffec41;
    width: 100%;
    margin: 15px;
  }

  h1 {
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
    color: #33c64b;
  }

  button {
    color: #33c64b;
    border-radius: 100px;
    border-color: #33c64b;
    width: 100%;
    font-weight: 600;
    margin: 40px;
  }
}


.section-three{

  .left-text{
    margin-top: 20px;
    padding-right: 15% !important;
  }

  .carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border-radius: 100px !important;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
    background-color: #b9b9b9;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
  }
  .carousel-caption {
    position: initial;
    padding-top: 10px;
    padding-bottom: 65px;
  }

  h1 {
    margin-top: 20px;
    text-transform: uppercase;
    color: $colorPrimary;
    font-weight: 600;
  }

  p {
    color: $colorPrimary;
  }
}
.section-four{
  background-image: url(../img/infinite-bg2.png);
  background-size: 100% 92vh;
  background-repeat: no-repeat;
  padding-top: 12%;
  width: 100%;
  height: 92vh;
}

.section-five{
  background: #f6f6f6;

  .brand-list{
    display: flex;
    justify-content: center;
  }

  .brand-section{
    mix-blend-mode: multiply;
  }

  h1{
    color: $footerColor;
    padding-top: 60px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
}

.footer-content {
  background: $footerColor;
  color: white;
  text-align: left;
  padding: 0 3.5em;
  padding-top: 2rem;
  padding-bottom: 1rem;

  .footer-social {
    display: flex;
    justify-content: flex-end;
  }

  .footer-social-icon{
      background: rgba(255, 255, 255, 0) !important;
      color: #fff !important;
      text-decoration: none;

      .btn-link {
        font-weight: 400;
        color: #c6c6c6 !important;
        text-decoration: none;
    }    
  }

  .footer-links{
    color: white;
    font-family: $fontPrimary;
    font-weight: 600;
    font-size: 14px;
    padding: 0rem !important;

    & :hover {
      color: #c6c6c6
    }
  }

  .footer-line--divisor{
    border-top: 3px solid white;
    width: 100%;
    margin: 15px;
  }

  .footer-links--divisor {
    border-top: 1px solid white;
    margin-bottom: 9px;
    width: 100%;
  }

  .btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
  }

  p {
    padding: 0.5em;
    margin-bottom: 0rem;
    font-size: 13px;
  }

  h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17.5px;
  }

  img{
    margin-top: 20px;
  }

  input {
    border-radius: 0px;
  }

  .button-form--footer {
    background: #fd8751;
    font-weight: 600;
    font-size: 16px;
    border-radius: 0px;
  }

}



@media (max-width: 768px) {

  .primary-bundle--content {
    height: 100%;
    justify-content: center;
    padding-top: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
    h1 {
      font-size: 24px;
    }
    h5 {
      font-size: 14px;
    }
  }

  .section-one {
    background-size: 100% 165vh;
    padding-top: 52%;
    height: 165vh;
  }

  .footer-content {
    p {
      text-align: center;
    }
  }

  .footer-copyright{
    display: flex;
    flex-direction: column-reverse;
  }


  
}

@media (min-width: 1400px) {

  .primary-bundle {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
  }

  .section-one{
    background-size: 100% 110vh;
    height: 110vh;
    padding-top: 14%;
  }


  
}

